*{margin:0;}

html, body {
  height: 100%;
}

header{



}

.navbar {
  display: inline;
  float: left;
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: #65db61;
  float: left;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dark-overlay{
  position: fixed;
  left: 1px;
  bottom: 160px;
}

.lead {
  font-size: 1rem;
  color: #000000;
}

#logo{
  float: right;

}

.TESTER{
  font-size: xx-large;
  color: #0e0e0e;
}

.login{
  float: right;
}
.arrow-up{
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #65db61;
  right: 20px;
  top: 80px;
  color: #65db61;
}

.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='number'],
.form input[type='textarea'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}


#loginIcon{
  float:right
}

.login-form{
  position: absolute;
  width: 160px;
  height: 115px;
  z-index: 5;
  color: #000000;
  right: 0;
  top: 95px;
  background: #65db61


}

#login-content{
  display: none;

}

.inputBoxBlack{
  background-color: #000000;
  color: #65db61;
  font-weight: bold;
  position: relative;
}

.inputBoxGreen{
  background-color: #65db61;
  color: #000000;
  font-weight: bold;

}

.buttonBlack{
  background-color: #000000;
  color: #65db61;
  font-weight: bold;
  position: relative;
  left: 48px;

}

.buttonGreenL{
  display: block;
  border-radius: 4px;
  background-color: #65db61;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
  caret-color: #000000;
  font-weight: bold;
}
.buttonGreenL span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonGreenL span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonGreenL:hover span {
  padding-right: 25px;
}

.buttonGreenL:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonGreenL span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonGreenL:hover span {
  padding-right: 20px;
}

.buttonGreenL :hover span:after {
  opacity: 1;
  right: 0;
}



.formProto{
  position: relative;
  top: 150px;
  left: 200px;
  display: inline;

}
#bodyForms{
  color: #65db61;

}

.confirmInput{
  position: absolute;
  left: 250px;
  top: 200px;
  width: 30%;
}

.confirmInputContent{
  color: #65db61;
  border: solid 3px #65db61;
  width: 100%;
}

.confirmInputContent:hover{
  color: #000000;
  background:#65db61;
}
#logo_title{
  float: left;
  font-size: 40px;
  color: #65db61;
  top: 500px;
}

#nav_bar{
  height: 100px;
}

#logInFormContainer{
  float: right;
  display:block
}

#logInFormContainer{
  float: right;
  display:none
}

#logInForm{
  float: right;
  display:none
}
li.nav_bar_links_active {
  display: inline;
  list-style-type: none;
  float: left;
  width: 130px;
  height: 70px;
  color: #61cc59;
  background: #070907;
  margin-left: 3px;
  font-size: 25px;
  text-align: center;
  margin-top: 95px;
  vertical-align: text-bottom;

}

li.nav_bar_links {
  display: inline;
  list-style-type: none;
  float: left;
  width: 130px;
  height: 70px;
  background: #dae6ee;
  margin-left: 3px;
  font-size: 25px;
  text-align: center;
  margin-top: 95px;
  vertical-align: text-bottom;


}

a:link li.nav_bar_links{
  color: #070907;
  background: #65db61;
}
a:visited li.nav_bar_links{
  color: #070907;
  background: #65db61;
}
a:hover li.nav_bar_links{
  color: #61cc59;
  background: #070907;
}
a:active li.nav_bar_links_active{
  color: #61cc59;
  background: #070907;
}

.landing {
  position: relative;
  background: url('img/thÉirePLanding.png') no-repeat center center/cover;
  height: 90vh;
  top: 88px;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper{
  float: left;
  width: 100%;
  min-height: 100%;
  padding-bottom: 60px;
  margin-bottom: 100px;
  box-sizing: border-box;
  background-color: #070907;


}


#Home_Desc{

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 450px;
  height: 300px;


}

#homeintro{

  color: #61cc59;
  margin-left: 80px;
  margin-top: 200px;
  font-size: 28px;

}

#PharmaRegWarning{

  color: #61cc59;
  margin-left: 220px;
  margin-top: 50px;
  font-size: 18px;
}



#pharmafailtext{
  color: #61cc59;
  margin-left: 230px;
  margin-top: 50px;
  font-size: 35px;

}

#PharmaRegSuccess{

  color: #61cc59;
  margin-left: 350px;
  margin-top: 50px;
  font-size: 35px;
}

#HD_Text{

  margin-top: 140px;
  margin-bottom: 60px;
  float: left;
  text-align: center;
  position: static;
  font-size: 28px;
  box-shadow: seashell;
  border: 2px solid;
}

#TA_Medals{
  margin-top: 80px;
  margin-left: 450px;

}

.medals_text{
  margin-left: 70px;
  font-size: 15px;
}





.dropdown {

  float: left;
  overflow: hidden;
  font-weight: 900;
}

.dropdown .dropbtn {
  font-size: 16px;
  font-weight: 900;
  border: none;
  outline: none;
  color: #070907;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  margin-top: 25px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  /*background-color: red;*/
  color: #61cc59;
  background: #070907;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #61cc59;
  background: #070907;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #61cc59;
  background: #070907;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: 900;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #070907;
  font-weight: 900;
  background: #61cc59;
  /*color: #61cc59;*/
  /*background: #070907;*/
}

.dropdown:hover .dropdown-content {
  display: block;
}



footer{
  float: right;
  width: 100%;
  height: 70px;
  background: #65db61;
  margin-top: -120px;
  color: black;
  text-align: center;
}


.social-button {
  background-position: 25px 0px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 65%;
  border-radius: 3px;
  margin: 10px auto;
  outline: rgb(255, 255, 255) none 0px;
  padding-left: 20%;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#google-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
  border: 1px solid rgb(220, 74, 61);
}

#google-connect:hover {
  border-color: rgb(220, 74, 61);
  background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#google-connect span {
  box-sizing: border-box;
  color: rgb(220, 74, 61);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(220, 74, 61);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#google-connect:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#linkedin-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/linkedin.svg?sanitize=true') no-repeat scroll 13px 0px / 28px 45px padding-box border-box;
  border: 1px solid rgb(0, 119, 181);
}

#linkedin-connect:hover {
  border-color: rgb(0, 119, 181);
  background: rgb(0, 119, 181) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/linkedin-white.svg?sanitize=true') no-repeat scroll 13px 0px / 28px 45px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#linkedin-connect span {
  box-sizing: border-box;
  color: rgb(0, 119, 181);
  cursor: pointer;
  text-align: right;
  text-transform: uppercase;
  border: 0px none rgb(0, 119, 181);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#linkedin-connect:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/*#form{*/
/*  margin-left: 500px;*/
/*  margin-top: 100px;*/
/*  color: #65db61;*/



/*}*/


