*{margin:0;}

html, body {
	height: 100%;
}

header{
	float: left;
	width: 100%;
	height: 60px;
	background-color: #89cff0;
}

li.nav_bar_links_active {
	display: inline;
	list-style-type: none;
	float: left;
	width: 130px;
	height: 60px;
	background: #dae6ee;
	margin-left: 7px;
	font-size: 25px;
	text-align: center;
	padding-top: 10px;
	}

li.nav_bar_links {
	display: inline;
	list-style-type: none;
	float: left;
	width: 130px;
	height: 60px;
	background: #dae6ee;
	margin-left: 7px;
	font-size: 25px;
	text-align: center;
	padding-top: 10px;
	}

a:link li.nav_bar_links{
	color: #333;
	background: #c9dae6;	
}
a:visited li.nav_bar_links{
	color: #333;
	background: #c9dae6;
}
a:hover li.nav_bar_links{
	color: #333;
	background: #ebf2f6;
}
a:active li.nav_bar_links_active{
	color: #333;
	background: #c9dae6;
}



#wrapper{
	float: left;
	width: 100%;
	min-height: 100%;
	padding-bottom: 60px;
	box-sizing: border-box;
	background-color: mintcream;
	

}

footer{
	float: right;
	width: 100%;
	height: 120px;
	background: teal;
	margin-top: -120px;
	color: black;
	font-size: 25px;
	text-align: center;
}






