<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel= "stylesheet" type= "text/css" href= "static/main.css">


	<title>
		Prescription Amended | MyPharma.ie
	</title>
				<style>



</style>

</head>
<body>



		<header>
		<ul id="nav_bar">

			<a href="PhysicianPrescribe.html">
			<li class="nav_bar_links">Submit Prescription</li>
			</a>

			<a href="PharmacyRetrieve.html">
			<li class="nav_bar_links">Retrieve a Prescription</li>
			</a>

			<a href="PhysicianAmmendReq.html">
			<li class="nav_bar_links">Amend Prescription</li>
			</a>

			<a href="PhysicianRegister.html">
			<li class="nav_bar_links">RegisterDoc Surgery</li>
			</a>

			<a href="PharmacyRegister.html">
			<li class="nav_bar_links_active">RegisterDoc Pharmacy</li>
			</a>

				<a href="http://localhost:5000 "><img id="logo" src="static/MyPharmaLogo.jpeg" alt="MyPharma"></a>

		</ul>
	</header>

	<div id="wrapper">
										<a href="http://localhost:5000"<p id="logo_title"> MyPharma.ie </p></a>


		<h3 id="form">Prescription Amended!</h3>
<br><br>




	</div>


	<footer>
			&copy; 2022
		</footer>


</body>
</html>