<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel= "stylesheet" type= "text/css" href= "static/main.css">


	<title>
		Homepage | MyPharma
	</title>
				<style>



</style>

</head>
<body>



		<header>

			<div class="navbar">

				<div class="dropdown">
					<button class="dropbtn">Register
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="#">Register Surgery</a>
						<a href="#">Register Pharmacy</a>
					</div>
				</div>
			</div>

			<div class="dropdown">
				<button class="dropbtn">Prescriptions
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="#">Submit Prescription</a>
					<a href="#">Retrieve Prescription</a>
					<a href="#">Amend Prescription</a>
				</div>
			</div>
			</div>


			<div id="loginIcon">
				<img src="static/logintry2_75x75.png" onclick="logInForm()">
<!--				<div id="logInFormContainer">-->
<!--					<form id="logInForm">-->
<!--						<label for="Username">Username</label>-->
<!--						<input type="text" id="Username" name="Username">-->
<!--						<label for="Password" id="Password">Password</label>-->
<!--						<input type="text" name="Password">-->
<!--					</form>-->
<!--				</div>-->
			</div>

	</header>

	<div id="wrapper">


			<a href="http://localhost:5000"><p id="logo_title"> MyPharma.ie </p></a>


		<div id="homeintro">

			<p>Welcome to MyPharma.ie: the new easier way for GPs to Prescribe, and Patients to retrieve their
				medicine from any licensed pharmacy in Ireland! </p>



		</div>






	</div>


	<footer>
			&copy; 2022
		</footer>

		<script src="app.js"></script>
</body>
</html>